# Spread Prediction

# The idea is to use data set to determine probabilities (Poisson-Gamma)

data comes from a poisson distirbution, number of cases per timestamp (average cases per timestamp) <- not exactly since data will all be exponenential, will depend on data set, we can also fit data sets to graphs based on residuals.

$y_i|\lambda \sim Pois(\lambda)$

We use a non-informative prior

$\lambda \sim Gamma(1/2, 0)$

$\lambda \sim Gamma(\sum y_i + 1/2, n)$

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("/Users/brianxiang/Downloads/Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age__Provisional_2020-2023_20240312.csv")
df2 = pd.read_csv("/Users/brianxiang/Downloads/Provisional_COVID-19_Death_Counts_by_Week_Ending_Date_and_State_20240312.csv")
df3 = pd.read_csv("/Users/brianxiang/Downloads/Provisional_COVID-19_Deaths__Focus_on_Ages_0-18_Years_20240312.csv")
df4 = pd.read_csv("/Users/brianxiang/Downloads/Rates_of_COVID-19_Cases_or_Deaths_by_Age_Group_and_Vaccination_Status_20240312.csv")

In [4]:
df1

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1569.0,1647.0,NaN
1,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5804.0,6029.0,NaN
2,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,15080.0,15699.0,NaN
3,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,37414.0,38878.0,NaN
4,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,82668.0,85708.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620995,09/24/2023,05/01/2023,05/31/2023,By Month,2023.0,5.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,67.0,67.0,NaN
620996,09/24/2023,06/01/2023,06/30/2023,By Month,2023.0,6.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,122.0,122.0,NaN
620997,09/24/2023,07/01/2023,07/31/2023,By Month,2023.0,7.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,114.0,114.0,NaN
620998,09/24/2023,08/01/2023,08/31/2023,By Month,2023.0,8.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,78.0,78.0,NaN
620999,09/24/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,36.0,36.0,NaN

In [5]:
df2

,Data as of,Start Date,End Date,Group,Year,Month,MMWR Week,Week Ending Date,State,COVID-19 Deaths,Total Deaths,Percent of Expected Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,03/07/2024,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,0.0,60170.0,98.0,4111.0,0.0,434.0,4545.0,NaN
1,03/07/2024,01/05/2020,01/11/2020,By Week,2020,NaN,2.0,01/11/2020,United States,1.0,60734.0,97.0,4153.0,1.0,475.0,4628.0,NaN
2,03/07/2024,01/12/2020,01/18/2020,By Week,2020,NaN,3.0,01/18/2020,United States,2.0,59362.0,98.0,4066.0,2.0,468.0,4534.0,NaN
3,03/07/2024,01/19/2020,01/25/2020,By Week,2020,NaN,4.0,01/25/2020,United States,3.0,59162.0,99.0,3915.0,0.0,500.0,4418.0,NaN
4,03/07/2024,01/26/2020,02/01/2020,By Week,2020,NaN,5.0,02/01/2020,United States,0.0,58834.0,99.0,3818.0,0.0,481.0,4299.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,03/07/2024,01/01/2020,03/02/2024,By Total,NaN,NaN,NaN,NaN,Washington,15777.0,276407.0,NaN,21557.0,9137.0,663.0,28827.0,NaN
14846,03/07/2024,01/01/2020,03/02/2024,By Total,NaN,NaN,NaN,NaN,West Virginia,8680.0,109779.0,NaN,11655.0,4412.0,263.0,16170.0,NaN
14847,03/07/2024,01/01/2020,03/02/2024,By Total,NaN,NaN,NaN,NaN,Wisconsin,17772.0,250103.0,NaN,15879.0,6258.0,541.0,27893.0,NaN
14848,03/07/2024,01/01/2020,03/02/2024,By Total,NaN,NaN,NaN,NaN,Wyoming,1935.0,22968.0,NaN,2003.0,999.0,58.0,2992.0,NaN
14849,03/07/2024,01/01/2020,03/02/2024,By Total,NaN,NaN,NaN,NaN,Puerto Rico,6720.0,140258.0,NaN,19591.0,4614.0,402.0,22052.0,NaN

In [6]:
df3

,Data as of,Age group,COVID-19 Deaths,Indicator,Sex,Race or Hispanic Origin Group,Start Week,End Week
0,06/28/2023,0-4 years,776,Age,All,All,01/04/2020,06/24/2023
1,06/28/2023,5-18 years,1071,Age,All,All,01/04/2020,06/24/2023
2,06/28/2023,19-44 years,44690,Age,All,All,01/04/2020,06/24/2023
3,06/28/2023,45-64 years,230021,Age,All,All,01/04/2020,06/24/2023
4,06/28/2023,65-74 years,254951,Age,All,All,01/04/2020,06/24/2023
5,06/28/2023,75 years and over,604543,Age,All,All,01/04/2020,06/24/2023
6,06/28/2023,All ages,1136052,Age,All,All,01/04/2020,06/24/2023
7,06/28/2023,0-4 years,357,Sex,Female,All,01/04/2020,06/24/2023
8,06/28/2023,0-4 years,419,Sex,Male,All,01/04/2020,06/24/2023
9,06/28/2023,5-18 years,483,Sex,Female,All,01/04/2020,06/24/2023
10,06/28/2023,5-18 years,588,Sex,Male,All,01/04/2020,06/24/2023
11,06/28/2023,0-4 years,191,Race and Hispanic Origin,All,Hispanic,01/04/2020,06/24/2023
12,06/28/2023,0-4 years,12,Race and Hispanic Origin,All,Non-Hispanic American Indian or Alaska Native,01/04/2020,06/24/2023
13,06/28/2023,0-4 years,26,Race and Hispanic Origin,All,Non-Hispanic Asian,01/04/2020,06/24/2023
14,06/28/2023,0-4 years,209,Race and Hispanic Origin,All,Non-Hispanic Black,01/04/2020,06/24/2023
15,06/28/2023,0-4 years,31,Race and Hispanic Origin,All,Non-Hispanic More than one race,01/04/2020,06/24/2023
16,06/28/2023,0-4 years,8,Race and Hispanic Origin,All,Non-Hispanic Native Hawaiian or Other Pacific ...,01/04/2020,06/24/2023
17,06/28/2023,0-4 years,293,Race and Hispanic Origin,All,Non-Hispanic White,01/04/2020,06/24/2023
18,06/28/2023,0-4 years,776,Race and Hispanic Origin,All,Total,01/04/2020,06/24/2023
19,06/28/2023,0-4 years,6,Race and Hispanic Origin,All,Unknown,01/04/2020,06/24/2023
20,06/28/2023,5-18 years,293,Race and Hispanic Origin,All,Hispanic,01/04/2020,06/24/2023
21,06/28/2023,5-18 years,20,Race and Hispanic Origin,All,Non-Hispanic American Indian or Alaska Native,01/04/2020,06/24/2023
22,06/28/2023,5-18 years,41,Race and Hispanic Origin,All,Non-Hispanic Asian,01/04/2020,06/24/2023
23,06/28/2023,5-18 years,256,Race and Hispanic Origin,All,Non-Hispanic Black,01/04/2020,06/24/2023
24,06/28/2023,5-18 years,25,Race and Hispanic Origin,All,Non-Hispanic More than one race,01/04/2020,06/24/2023
25,06/28/2023,5-18 years,9,Race and Hispanic Origin,All,Non-Hispanic Native Hawaiian or Other Pacific ...,01/04/2020,06/24/2023
26,06/28/2023,5-18 years,424,Race and Hispanic Origin,All,Non-Hispanic White,01/04/2020,06/24/2023
27,06/28/2023,5-18 years,1071,Race and Hispanic Origin,All,Total,01/04/2020,06/24/2023
28,06/28/2023,5-18 years,3,Race and Hispanic Origin,All,Unknown,01/04/2020,06/24/2023

In [7]:
df4

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Age adjusted vax IR,Age adjusted unvax IR,Age adjusted IRR,Continuity correction
0,case,APR 2021,202114,12-17,all_types,8,3.688700e+04,30785,17556462.00,21.687858,175.348541,8.085102,NaN,NaN,NaN,0
1,case,APR 2021,202114,18-29,all_types,674,2.543093e+06,76736,31091322.00,26.503160,246.808418,9.312415,NaN,NaN,NaN,0
2,case,APR 2021,202114,30-49,all_types,1847,7.428405e+06,98436,41074337.00,24.864019,239.653290,9.638558,NaN,NaN,NaN,0
3,case,APR 2021,202114,50-64,all_types,1558,7.487444e+06,50324,22948569.00,20.808169,219.290362,10.538667,NaN,NaN,NaN,0
4,case,APR 2021,202114,65-79,all_types,1672,1.439810e+07,14880,7675907.00,11.612644,193.853313,16.693297,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586,death,AUG 2022,202235,80+,all_types,328,7.078966e+06,172,963095.40,4.633445,17.859082,3.854385,NaN,NaN,NaN,1
1587,death,AUG 2022,202235,all_ages_adj,all_types,603,1.428525e+08,398,50965568.85,0.422114,0.780919,1.850021,0.287258,1.605239,5.588152,1
1588,death,AUG 2022,202235,all_ages_adj,Janssen,33,1.075017e+07,398,50965568.85,0.306972,0.780919,2.543944,0.317448,1.605239,5.056694,1
1589,death,AUG 2022,202235,all_ages_adj,Moderna,286,4.941886e+07,398,50965568.85,0.578726,0.780919,1.349376,0.294841,1.605239,5.444415,1
1590,death,AUG 2022,202235,all_ages_adj,Pfizer,280,8.263597e+07,398,50965568.85,0.338836,0.780919,2.304715,0.277278,1.605239,5.789287,1

In [8]:
df5 = pd.read_csv("/Users/brianxiang/Downloads/Rates_of_COVID-19_Cases_or_Deaths_by_Age_Group_and_Vaccination_Status_20240312.csv")
df6 = pd.read_csv("/Users/brianxiang/Downloads/Rates_of_COVID-19_Cases_or_Deaths_by_Age_Group_and_Vaccination_Status_and_Booster_Dose_20240312.csv")

In [11]:
df5[df5["outcome"] == "case"]

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Age adjusted vax IR,Age adjusted unvax IR,Age adjusted IRR,Continuity correction
0,case,APR 2021,202114,12-17,all_types,8,3.688700e+04,30785,17556462.0,21.687858,175.348541,8.085102,NaN,NaN,NaN,0
1,case,APR 2021,202114,18-29,all_types,674,2.543093e+06,76736,31091322.0,26.503160,246.808418,9.312415,NaN,NaN,NaN,0
2,case,APR 2021,202114,30-49,all_types,1847,7.428405e+06,98436,41074337.0,24.864019,239.653290,9.638558,NaN,NaN,NaN,0
3,case,APR 2021,202114,50-64,all_types,1558,7.487444e+06,50324,22948569.0,20.808169,219.290362,10.538667,NaN,NaN,NaN,0
4,case,APR 2021,202114,65-79,all_types,1672,1.439810e+07,14880,7675907.0,11.612644,193.853313,16.693297,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,case,SEP 2022,202238,80+,all_types,10014,7.590087e+06,3680,943691.4,131.935247,389.957988,2.955677,NaN,NaN,NaN,1
809,case,SEP 2022,202238,all_ages_adj,all_types,118778,1.510390e+08,76751,52575861.8,78.640611,145.981440,1.856311,72.962723,190.117385,2.605678,1
810,case,SEP 2022,202238,all_ages_adj,Janssen,6646,1.139908e+07,76751,52575861.8,58.302971,145.981440,2.503842,47.790641,190.117385,3.978130,1
811,case,SEP 2022,202238,all_ages_adj,Moderna,43891,5.224351e+07,76751,52575861.8,84.012349,145.981440,1.737619,74.467987,190.117385,2.553008,1
812,case,SEP 2022,202238,all_ages_adj,Pfizer,68096,8.734512e+07,76751,52575861.8,77.961994,145.981440,1.872469,75.509781,190.117385,2.517785,1

In [12]:
df6[df6["outcome"] == "case"]

,outcome,month,mmwr_week,age_group,vaccine_product,boosted_with_outcome,boosted_population,primary_series_only_with_outcome,primary_series_only_population,unvaccinated_with_outcome,...,crude_primary_series_only_ir,crude_unvax_ir,crude_booster_irr,crude_irr,age_adj_booster_ir,age_adj_vax_ir,age_adj_unvax_ir,age_adj_booster_irr,age_adj_irr,continuity_correction
3,case,SEP 2021,202138,18-49,all_types,119,307241,52609,52473497,170089,...,100.258231,486.808748,12.568706,4.855549,NaN,NaN,NaN,NaN,NaN,0
4,case,SEP 2021,202138,50-64,all_types,147,376834,28091,30068369,46391,...,93.423757,477.565705,12.242381,5.111823,NaN,NaN,NaN,NaN,NaN,0
5,case,SEP 2021,202138,65+,all_types,280,878779,27243,29106029,24190,...,93.599165,501.793013,15.748756,5.361084,NaN,NaN,NaN,NaN,NaN,1
6,case,SEP 2021,202138,all_ages,all_types,546,1562854,107943,111647895,240670,...,96.681626,486.453966,13.924112,5.031504,37.618216,97.743583,487.492642,12.958952,4.987464,0
7,case,SEP 2021,202138,all_ages,Janssen,7,28692,11003,9567298,240670,...,115.006348,486.453966,19.939053,4.229801,31.020157,114.456489,487.492642,15.715351,4.259196,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,case,SEP 2022,202238,65+,all_types,27338,23763939,7105,9901182,12407,...,71.759109,443.092916,3.851647,6.174727,NaN,NaN,NaN,NaN,NaN,1
427,case,SEP 2022,202238,all_ages,all_types,76722,75035596,41805,76064165,76751,...,54.960177,146.339451,1.431228,2.662645,91.661394,54.482242,188.173958,2.052925,3.453859,1
428,case,SEP 2022,202238,all_ages,Janssen,3356,4355939,3039,7043196,76751,...,43.148025,146.339451,1.899421,3.391568,60.690005,36.979177,188.173958,3.100576,5.088646,1
429,case,SEP 2022,202238,all_ages,Moderna,30803,29301545,13088,22942002,76751,...,57.048204,146.339451,1.392063,2.565189,87.922209,55.520392,188.173958,2.140232,3.389276,1
430,case,SEP 2022,202238,all_ages,Pfizer,42479,41316940,25617,46028188,76751,...,55.655026,146.339451,1.423362,2.629402,93.932897,56.655500,188.173958,2.003281,3.321371,1